/* src/App.css */

/* Configuración general de márgenes, padding y fuente */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegura que el contenedor ocupe toda la altura */
  width: 100%; /* Asegura que el contenedor ocupe toda la anchura */
  font-family: Arial, sans-serif;
}

/* Contenedor principal de la pantalla de inicio de sesión */
.login-container {
  display: flex;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura visible del navegador */
  width: 100vw; /* Asegura que el contenedor ocupe toda la anchura visible del navegador */
}

/* Estilo para el formulario de inicio de sesión */
.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px; /* Mayor padding para más espacio */
  background-color: #adcf13; /* Color de fondo blanco */
}

/* Encabezado del formulario */
h2 {
  margin-bottom: 20px;
}

/* Botones de selección de usuario y administrador */
.toggle-buttons {
  display: flex;
  margin-bottom: 20px;
}

.toggle-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

.toggle-buttons .active {
  background-color: #adcf13;
  color: #ffffff;
}

/* Agrupación de entradas de texto */
.input-group {
  margin-bottom: 20px;
  width: 100%;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Botón de inicio de sesión */
.login-button {
  padding: 12px 20px;
  background-color: #adcf13;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #adcf13;
}

/* Estilo para el enlace de recuperación de contraseña */
.forgot-password {
  margin-top: 10px;
  font-size: 12px;
}

.forgot-password a {
  color: #ff0000;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Contenedor para la imagen de la derecha */
.login-image {
  flex: 1;
  background-color: #0026b3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Añadir padding para evitar que la imagen se quede pegada a los bordes */
}

.login-image img {
  width: 80%; /* Ajusta el tamaño de la imagen a un 80% del contenedor */
  max-width: 300px; /* Asegura un tamaño máximo de la imagen */
  height: auto; /* Mantiene las proporciones de la imagen */
  border-radius: 10px; /* Bordes redondeados para la imagen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
}
