/* src/Asistencias.css */
.asistencias-container {
    padding: 20px;
  }
  
  .title-asistencias {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .table-container {
    overflow-x: auto; /* Permitir desplazamiento horizontal si la tabla es muy ancha */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .back-button {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  