/* Attendance.css */
html, body {
    height: 100%; /* Aseguramos que la página tenga la altura completa */
    margin: 0; /* Quitamos márgenes predeterminados */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
}

.attendance-container {
    padding: 20px;
    background-color: #FFFFFF; /* Fondo blanco */
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho */
    height: 100%; /* Asegura que ocupe toda la altura disponible */
    box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
    display: flex;
    flex-direction: column;
}

.title-attendance {
    font-size: 24px; /* Título más grande */
    font-weight: bold; /* Título en negritas */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.table-container {
    margin-top: 20px;
    overflow: auto; /* Permitir desplazamiento si la tabla es grande */
    flex-grow: 1; /* Permite que la tabla ocupe el espacio restante */
}

table {
    width: 100%; /* Ocupa todo el ancho */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #0011ff; /* Borde azul */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #001aff !important; /* Fondo azul */
    color: white; /* Texto blanco en los encabezados */
}

tr:nth-child(even) {
    background-color: #0400ff; /* Fondo alterno para filas */
}

tr:hover {
    background-color: #ddd; /* Color al pasar el ratón */
}

/* Botones dentro de la tabla */
button {
    background-color: #0066cc; /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 12px 20px;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin: 5px 0; /* Espacio entre los botones */
}

button:hover {
    background-color: #004b99; /* Fondo más oscuro al pasar el ratón */
}
