/* Lists.css */
.lists-container {
    padding: 20px;
    background-color: #FFFFFF; /* Fondo completamente blanco */
    width: 100%; /* Asegúrate de que ocupe el 100% del ancho */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}


.title-lists {
    font-size: 24px; /* Título más grande */
    font-weight: bold; /* Título en negritas */
    margin-bottom: 20px; /* Espacio debajo del título */
  }
  
  .search-container {
    display: flex; /* Flex para alinear input y botón de búsqueda */
    margin-bottom: 20px; /* Espacio debajo de la barra de búsqueda */
  }
  
  .search-input {
    border-radius: 20px; /* Borde redondeado */
    width: calc(100% - 100px); /* Abarca casi todo el espacio */
    padding: 10px;
    margin-right: 10px; /* Espacio entre el input y el botón */
    border: 1px solid #00d9ff; /* Borde gris claro */
  }
  
  .search-button {
    padding: 10px 15px; /* Espaciado interno del botón */
    background-color: #2980B9; /* Color de fondo más oscuro */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold; /* Texto en negritas */
  }

.main-content {
    display: flex; /* Flex para alinear acciones y tabla */
    width: 100%; /* Asegura que el contenido principal ocupe todo el ancho */
}

.table-container {
    margin-top: 20px;
    overflow: auto; /* Permitir desplazamiento si la tabla es grande */
    flex-grow: 1; /* Permite que la tabla ocupe el espacio restante */
}

table {
    width: 100%; /* Ocupa todo el ancho */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2980B9; /* Color de fondo de encabezado */
    color: white; /* Color de texto en encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alterno */
}

tr:hover {
    background-color: #ddd; /* Color al pasar el ratón */
}

/* Estilos para el botón de regresar */
.back-button {
    padding: 10px 15px; /* Espaciado interno del botón */
    background-color: #2980B9; /* Color de fondo */
    color: white; /* Color del texto en blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-weight: bold; /* Texto en negritas */
    margin-bottom: 20px; /* Espacio debajo del botón */
}
